<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.mesh.upms.biz.modules.org.memberuserrel.mapper.OrgMemberUserRelMapper">

    <select id="getDefaultRelByUserId"
            resultType="com.platform.mesh.upms.api.modules.org.member.domain.bo.OrgMemberRelBO">
        SELECT
            omur.member_id,
            m.member_name,
            omur.user_id,
            sa.scope_org_id AS level_id,
            l.level_name
        FROM
            org_member_user_rel omur
                LEFT JOIN org_member m ON m.id = omur.member_id
                LEFT JOIN sys_account sa ON sa.user_id = omur.user_id
                LEFT JOIN org_level l ON l.id = sa.scope_org_id
        WHERE omur.user_id = #{userId}
        LIMIT 1
    </select>

    <select id="getDefaultRelByMemberId"
            resultType="com.platform.mesh.upms.api.modules.org.member.domain.bo.OrgMemberRelBO">
        SELECT
            omur.member_id,
            m.member_name,
            omur.user_id,
            sa.scope_org_id AS level_id,
            l.level_name
        FROM
            org_member_user_rel omur
                LEFT JOIN org_member m ON m.id = omur.member_id
                LEFT JOIN sys_account sa ON sa.user_id = omur.user_id
                LEFT JOIN org_level l ON l.id = sa.scope_org_id
        WHERE omur.member_id = #{memberId}
        LIMIT 1
    </select>

    <select id="getDefaultRelByMemberIds"
            resultType="com.platform.mesh.upms.api.modules.org.member.domain.bo.OrgMemberRelBO">
        SELECT
            omur.member_id,
            m.member_name,
            omur.user_id,
            sa.scope_org_id AS level_id,
            l.level_name
        FROM
        org_member_user_rel omur
                LEFT JOIN org_member m ON m.id = omur.member_id
                LEFT JOIN sys_account sa ON sa.user_id = omur.user_id
                LEFT JOIN org_level l ON l.id = sa.scope_org_id
        WHERE omur.member_id IN
        <if test="memberIds != null and memberIds.size() > 0">
            <foreach collection="memberIds" item="memberId" open="(" close=")" separator=",">
                #{memberId}
            </foreach>
        </if>
    </select>

    <select id="getOrgChildLevelRelByAccountId" resultType="java.lang.Long">
        SELECT
            ompr.level_id
        FROM
            org_member_post_rel ompr
        LEFT JOIN org_member_user_rel omur ON ompr.member_id = omur.member_id
        WHERE
            omur.user_id = #{userId}
            AND ompr.lead_flag = #{leadFlag}

    </select>

    <select id="getOrgChildUserRelByLevelIds"
            resultType="com.platform.mesh.upms.api.modules.org.member.domain.bo.OrgMemberRelBO">
        SELECT
            ompr.level_id,
            ompr.member_id,
            omur.user_id
        FROM
        org_member_post_rel ompr
        LEFT JOIN org_member_user_rel omur ON ompr.member_id = ompr.member_id
        WHERE ompr.level_id IN
        <if test="levelIds != null and levelIds.size() > 0">
            <foreach collection="levelIds" item="levelId" open="(" close=")" separator=",">
                #{levelId}
            </foreach>
        </if>
    </select>
</mapper>
