<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.mesh.upms.biz.modules.org.level.mapper.OrgLevelMapper">


    <select id="getOrgInfoByUserId" resultType="com.platform.mesh.upms.biz.modules.org.level.domain.po.OrgLevel">
        SELECT
            l.*
        FROM
        org_member_user_rel mur
        LEFT JOIN org_member_post_rel mpr ON mur.member_id = mpr.member_id
        LEFT JOIN org_level l ON mpr.level_id = l.id
        WHERE
            mur.user_id = #{userId}
        AND l.tenant_id = #{tenantId}
    </select>

    <select id="getLevelById" resultType="com.platform.mesh.upms.biz.modules.org.level.domain.po.OrgLevel">
        SELECT
            *
        FROM
            org_level
        WHERE
            id = #{levelId}
    </select>
</mapper>
