<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.mesh.upms.biz.modules.org.post.mapper.OrgPostMapper">


    <select id="selectRelPage" resultType="com.platform.mesh.upms.biz.modules.org.post.domain.vo.OrgPostVO">
        SELECT
            l.id AS level_id,
            l.level_name,
            lp.lead_flag,
            lp.id AS level_post_rel_id,
            p.*
        FROM
            org_post p
                LEFT JOIN org_level_post_rel lp ON p.id = lp.post_id
                LEFT JOIN org_level l ON l.id = lp.level_id
        <where>
            <if test="(orgPageDTO.levelIds != null and orgPageDTO.levelIds.size() > 0)">
                AND l.id IN
                <foreach collection="orgPageDTO.levelIds" item="level" open="(" close=")" separator=",">
                    #{level}
                </foreach>
            </if>
            <if test=" orgPageDTO.postName != null and orgPageDTO.postName != '' ">
                AND p.post_name LIKE CONCAT('%',#{orgPageDTO.postName},'%')
            </if>
        </where>
    </select>
</mapper>
