<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.mesh.app.biz.modules.third.thirdformcolumn.mapper.ThirdFormColumnMapper">


    <select id="getThirdFormColumn"
            resultType="com.platform.mesh.app.biz.modules.third.thirdformcolumn.domain.po.ThirdFormColumn">
        SELECT
        *
        FROM
        third_form_column
        WHERE
        source_flag = #{sourceFlag}
    </select>

</mapper>
