<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.mesh.upms.biz.modules.doc.file.mapper.DocFileMapper">


    <select id="selectListNoAuth" resultType="com.platform.mesh.upms.api.modules.doc.domain.vo.DocFileVO">
        SELECT
            *
        FROM
            doc_file
        WHERE
            file_flag = #{fileFlag}
    </select>

    <select id="getFileById" resultType="com.platform.mesh.upms.biz.modules.doc.file.domain.po.DocFile">
        SELECT
            *
        FROM
            doc_file
        WHERE
            id = #{fileId}
            <if test=" tenantId != null and tenantId != 0 ">
                AND tenant_id = #{tenantId}
            </if>

    </select>

    <select id="selectPageWithDir" resultType="com.platform.mesh.upms.biz.modules.doc.file.domain.po.DocFile">
        SELECT
        f.*
        FROM
        doc_file f
        LEFT JOIN doc_dir_rel r ON f.id = r.doc_id
        <where>
            <if test=" pageDTO.dataId != null ">
                AND data_id = #{pageDTO.dataId}
            </if>
            <if test=" dirIds!=null and dirIds.size() > 0 ">
                AND r.dir_id IN
                <foreach collection="dirIds" item="dirId" open="(" close=")" separator=",">
                    #{dirId}
                </foreach>
            </if>
        </where>
        ORDER BY f.create_time DESC
    </select>

    <select id="selectOpenPage" resultType="com.platform.mesh.upms.biz.modules.doc.file.domain.po.DocFile">
        SELECT
            f.*
        FROM
        doc_file f
        LEFT JOIN doc_dir_rel r ON f.id = r.doc_id
        LEFT JOIN doc_dir d ON r.dir_id = d.id
        WHERE
            f.open_flag = #{openFlag}
        <if test=" dirIds!=null and dirIds.size() > 0 ">
            AND d.id IN
            <foreach collection="dirIds" item="dirId" open="(" close=")" separator=",">
                #{dirId}
            </foreach>
        </if>
        ORDER BY f.create_time DESC
    </select>

</mapper>