<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.mesh.crm.biz.bi.crm.mapper.CrmBiMapper">

    <select id="biCustomerNew" resultType="com.platform.mesh.core.application.domain.vo.SimpVO">
        SELECT
        (
        SELECT
            COUNT(1) AS value
        FROM
        crm_pre_customer
        WHERE
        create_time &gt; #{biDTO.startTime}
        AND create_time &lt; #{biDTO.endTime}
        AND del_flag = 1
        <if test="(biDTO.dataIds != null and biDTO.dataIds.size() > 0)">
            <choose>
                <when test="biDTO.dataFlag !=null and biDTO.dataFlag == @com.platform.mesh.core.enums.data.DataFlagEnum@ORG.getValue()">
                    AND scope_org_id IN
                </when>
                <otherwise>
                    AND create_user_id IN
                </otherwise>
            </choose>
            <foreach collection="biDTO.dataIds" item="dataId" open="(" close=")" separator=",">
                #{dataId}
            </foreach>
        </if>) AS value,
        (
        SELECT
            COUNT(1) AS value
        FROM
        crm_pre_customer
        WHERE
        create_time &gt; #{biDTO.relStartTime}
        AND create_time &lt; #{biDTO.relEndTime}
        AND del_flag = 1
        <if test="(biDTO.dataIds != null and biDTO.dataIds.size() > 0)">
            <choose>
                <when test="biDTO.dataFlag !=null and biDTO.dataFlag == @com.platform.mesh.core.enums.data.DataFlagEnum@ORG.getValue()">
                    AND scope_org_id IN
                </when>
                <otherwise>
                    AND create_user_id IN
                </otherwise>
            </choose>
            <foreach collection="biDTO.dataIds" item="dataId" open="(" close=")" separator=",">
                #{dataId}
            </foreach>
        </if>) AS extend_value
    </select>

    <select id="biContactsNew" resultType="com.platform.mesh.core.application.domain.vo.SimpVO">
        SELECT
        (
        SELECT
            COUNT(1) AS value
        FROM
        crm_pre_contacts
        WHERE
        create_time &gt; #{biDTO.startTime}
        AND create_time &lt; #{biDTO.endTime}
        AND del_flag = 1
        <if test="(biDTO.dataIds != null and biDTO.dataIds.size() > 0)">
            <choose>
                <when test="biDTO.dataFlag !=null and biDTO.dataFlag == @com.platform.mesh.core.enums.data.DataFlagEnum@ORG.getValue()">
                    AND scope_org_id IN
                </when>
                <otherwise>
                    AND create_user_id IN
                </otherwise>
            </choose>
            <foreach collection="biDTO.dataIds" item="dataId" open="(" close=")" separator=",">
                #{dataId}
            </foreach>
        </if>) AS value,
        (
        SELECT
            COUNT(1) AS value
        FROM
        crm_pre_contacts
        WHERE
        create_time &gt; #{biDTO.relStartTime}
        AND create_time &lt; #{biDTO.relEndTime}
        AND del_flag = 1
        <if test="(biDTO.dataIds != null and biDTO.dataIds.size() > 0)">
            <choose>
                <when test="biDTO.dataFlag !=null and biDTO.dataFlag == @com.platform.mesh.core.enums.data.DataFlagEnum@ORG.getValue()">
                    AND scope_org_id IN
                </when>
                <otherwise>
                    AND create_user_id IN
                </otherwise>
            </choose>
            <foreach collection="biDTO.dataIds" item="dataId" open="(" close=")" separator=",">
                #{dataId}
            </foreach>
        </if>) AS extend_value
    </select>

    <select id="biBusinessNew" resultType="com.platform.mesh.core.application.domain.vo.SimpVO">
        SELECT
        (
        SELECT
            COUNT(1) AS value
        FROM
        crm_on_business
        WHERE
        create_time &gt; #{biDTO.startTime}
        AND create_time &lt; #{biDTO.endTime}
        AND del_flag = 1
        <if test="(biDTO.dataIds != null and biDTO.dataIds.size() > 0)">
            <choose>
                <when test="biDTO.dataFlag !=null and biDTO.dataFlag == @com.platform.mesh.core.enums.data.DataFlagEnum@ORG.getValue()">
                    AND scope_org_id IN
                </when>
                <otherwise>
                    AND create_user_id IN
                </otherwise>
            </choose>
            <foreach collection="biDTO.dataIds" item="dataId" open="(" close=")" separator=",">
                #{dataId}
            </foreach>
        </if>) AS value,
        (
        SELECT
        COUNT(1) AS value
        FROM
        crm_on_business
        WHERE
        create_time &gt; #{biDTO.relStartTime}
        AND create_time &lt; #{biDTO.relEndTime}
        AND del_flag = 1
        <if test="(biDTO.dataIds != null and biDTO.dataIds.size() > 0)">
            <choose>
                <when test="biDTO.dataFlag !=null and biDTO.dataFlag == @com.platform.mesh.core.enums.data.DataFlagEnum@ORG.getValue()">
                    AND scope_org_id IN
                </when>
                <otherwise>
                    AND create_user_id IN
                </otherwise>
            </choose>
            <foreach collection="biDTO.dataIds" item="dataId" open="(" close=")" separator=",">
                #{dataId}
            </foreach>
        </if>) AS extend_value
    </select>

    <select id="biContractNew" resultType="com.platform.mesh.core.application.domain.vo.SimpVO">
        SELECT
        (
        SELECT
            COUNT(1) AS value
        FROM
        crm_on_contract
        WHERE
        create_time &gt; #{biDTO.startTime}
        AND create_time &lt; #{biDTO.endTime}
        AND del_flag = 1
        <if test="(biDTO.dataIds != null and biDTO.dataIds.size() > 0)">
            <choose>
                <when test="biDTO.dataFlag !=null and biDTO.dataFlag == @com.platform.mesh.core.enums.data.DataFlagEnum@ORG.getValue()">
                    AND scope_org_id IN
                </when>
                <otherwise>
                    AND create_user_id IN
                </otherwise>
            </choose>
            <foreach collection="biDTO.dataIds" item="dataId" open="(" close=")" separator=",">
                #{dataId}
            </foreach>
        </if>) AS value,
        (
        SELECT
            COUNT(1) AS value
        FROM
        crm_on_contract
        WHERE
        create_time &gt; #{biDTO.relStartTime}
        AND create_time &lt; #{biDTO.relEndTime}
        AND del_flag = 1
        <if test="(biDTO.dataIds != null and biDTO.dataIds.size() > 0)">
            <choose>
                <when test="biDTO.dataFlag !=null and biDTO.dataFlag == @com.platform.mesh.core.enums.data.DataFlagEnum@ORG.getValue()">
                    AND scope_org_id IN
                </when>
                <otherwise>
                    AND create_user_id IN
                </otherwise>
            </choose>
            <foreach collection="biDTO.dataIds" item="dataId" open="(" close=")" separator=",">
                #{dataId}
            </foreach>
        </if>) AS extend_value
    </select>

    <select id="biFollowNew" resultType="com.platform.mesh.core.application.domain.vo.SimpVO">
        SELECT
        (
        SELECT
            COUNT(1) AS value
        FROM
        crm_on_follow_rel fr
        INNER JOIN crm_pre_customer pc ON fr.rel_module_id = pc.module_id AND fr.rel_data_id = pc.id
        WHERE
        fr.create_time &gt; #{biDTO.startTime}
        AND fr.create_time &lt; #{biDTO.endTime}
        AND del_flag = 1
        <if test="(biDTO.dataIds != null and biDTO.dataIds.size() > 0)">
            <choose>
                <when test="biDTO.dataFlag !=null and biDTO.dataFlag == @com.platform.mesh.core.enums.data.DataFlagEnum@ORG.getValue()">
                    AND pc.scope_org_id IN
                </when>
                <otherwise>
                    AND pc.create_user_id IN
                </otherwise>
            </choose>
            <foreach collection="biDTO.dataIds" item="dataId" open="(" close=")" separator=",">
                #{dataId}
            </foreach>
        </if>) AS value,
        (
        SELECT
            COUNT(1) AS value
        FROM
        crm_on_follow_rel fr
        INNER JOIN crm_pre_customer pc ON fr.rel_module_id = pc.module_id AND fr.rel_data_id = pc.id
        WHERE
        fr.create_time &gt; #{biDTO.relStartTime}
        AND fr.create_time &lt; #{biDTO.relEndTime}
        AND del_flag = 1
        <if test="(biDTO.dataIds != null and biDTO.dataIds.size() > 0)">
            <choose>
                <when test="biDTO.dataFlag !=null and biDTO.dataFlag == @com.platform.mesh.core.enums.data.DataFlagEnum@ORG.getValue()">
                    AND pc.scope_org_id IN
                </when>
                <otherwise>
                    AND pc.create_user_id IN
                </otherwise>
            </choose>
            <foreach collection="biDTO.dataIds" item="dataId" open="(" close=")" separator=",">
                #{dataId}
            </foreach>
        </if>) AS extend_value
    </select>

    <select id="biContractMoney" resultType="com.platform.mesh.core.application.domain.vo.SimpVO">
        SELECT
        (
        SELECT
            IFNULL(SUM(real_money),0) AS value
        FROM
        crm_on_contract
        WHERE
        create_time &gt; #{biDTO.startTime}
        AND create_time &lt; #{biDTO.endTime}
        AND del_flag = 1
        <if test="(biDTO.dataIds != null and biDTO.dataIds.size() > 0)">
            <choose>
                <when test="biDTO.dataFlag !=null and biDTO.dataFlag == @com.platform.mesh.core.enums.data.DataFlagEnum@ORG.getValue()">
                    AND scope_org_id IN
                </when>
                <otherwise>
                    AND create_user_id IN
                </otherwise>
            </choose>
            <foreach collection="biDTO.dataIds" item="dataId" open="(" close=")" separator=",">
                #{dataId}
            </foreach>
        </if>) AS value,
        (
        SELECT
            IFNULL(SUM(real_money),0) AS value
        FROM
        crm_on_contract
        WHERE
        create_time &gt; #{biDTO.relStartTime}
        AND create_time &lt; #{biDTO.relEndTime}
        AND del_flag = 1
        <if test="(biDTO.dataIds != null and biDTO.dataIds.size() > 0)">
            <choose>
                <when test="biDTO.dataFlag !=null and biDTO.dataFlag == @com.platform.mesh.core.enums.data.DataFlagEnum@ORG.getValue()">
                    AND scope_org_id IN
                </when>
                <otherwise>
                    AND create_user_id IN
                </otherwise>
            </choose>
            <foreach collection="biDTO.dataIds" item="dataId" open="(" close=")" separator=",">
                #{dataId}
            </foreach>
        </if>) AS extend_value
    </select>

    <select id="biBusinessMoney" resultType="com.platform.mesh.core.application.domain.vo.SimpVO">
        SELECT
        (
        SELECT
            IFNULL(SUM(real_money),0) AS value
        FROM
            crm_on_business
        WHERE
            create_time &gt; #{biDTO.startTime}
        AND create_time &lt; #{biDTO.endTime}
        AND del_flag = 1
        <if test="(biDTO.dataIds != null and biDTO.dataIds.size() > 0)">
            <choose>
                <when test="biDTO.dataFlag !=null and biDTO.dataFlag == @com.platform.mesh.core.enums.data.DataFlagEnum@ORG.getValue()">
                    AND scope_org_id IN
                </when>
                <otherwise>
                    AND create_user_id IN
                </otherwise>
            </choose>
            <foreach collection="biDTO.dataIds" item="dataId" open="(" close=")" separator=",">
                #{dataId}
            </foreach>
        </if>) AS value,
        (
        SELECT
            IFNULL(SUM(real_money),0) AS value
        FROM
            crm_on_business
        WHERE
            create_time &gt; #{biDTO.relStartTime}
        AND create_time &lt; #{biDTO.relEndTime}
        AND del_flag = 1
        <if test="(biDTO.dataIds != null and biDTO.dataIds.size() > 0)">
            <choose>
                <when test="biDTO.dataFlag !=null and biDTO.dataFlag == @com.platform.mesh.core.enums.data.DataFlagEnum@ORG.getValue()">
                    AND scope_org_id IN
                </when>
                <otherwise>
                    AND create_user_id IN
                </otherwise>
            </choose>
            <foreach collection="biDTO.dataIds" item="dataId" open="(" close=")" separator=",">
                #{dataId}
            </foreach>
        </if>) AS extend_value
    </select>

    <select id="biPaymentMoney" resultType="com.platform.mesh.core.application.domain.vo.SimpVO">
        SELECT
        (
        SELECT
            IFNULL(SUM(real_money),0) AS value
        FROM
            crm_on_payment
        WHERE
            create_time &gt; #{biDTO.startTime}
        AND create_time &lt; #{biDTO.endTime}
        AND del_flag = 1
        <if test="(biDTO.dataIds != null and biDTO.dataIds.size() > 0)">
            <choose>
                <when test="biDTO.dataFlag !=null and biDTO.dataFlag == @com.platform.mesh.core.enums.data.DataFlagEnum@ORG.getValue()">
                    AND scope_org_id IN
                </when>
                <otherwise>
                    AND create_user_id IN
                </otherwise>
            </choose>
            <foreach collection="biDTO.dataIds" item="dataId" open="(" close=")" separator=",">
                #{dataId}
            </foreach>
        </if>) AS value,
        (
        SELECT
            IFNULL(SUM(real_money),0) AS value
        FROM
            crm_on_payment
        WHERE
            create_time &gt; #{biDTO.relStartTime}
        AND create_time &lt; #{biDTO.relEndTime}
        AND del_flag = 1
        <if test="(biDTO.dataIds != null and biDTO.dataIds.size() > 0)">
            <choose>
                <when test="biDTO.dataFlag !=null and biDTO.dataFlag == @com.platform.mesh.core.enums.data.DataFlagEnum@ORG.getValue()">
                    AND scope_org_id IN
                </when>
                <otherwise>
                    AND create_user_id IN
                </otherwise>
            </choose>
            <foreach collection="biDTO.dataIds" item="dataId" open="(" close=")" separator=",">
                #{dataId}
            </foreach>
        </if>) AS extend_value
    </select>

    <select id="biFollowNotice" resultType="java.util.Map">
        SELECT
            SUM(IF(last_time IS NULL,1,0)) AS 0_day,
            SUM(IF(TIMESTAMPDIFF(DAY, IFNULL(last_time,create_time), NOW())>=7,1,0)) AS 7_day,
            SUM(IF(TIMESTAMPDIFF(DAY, IFNULL(last_time,create_time), NOW())>=15,1,0)) AS 15_day,
            SUM(IF(TIMESTAMPDIFF(DAY, IFNULL(last_time,create_time), NOW())>=30,1,0)) AS 30_day,
            SUM(IF(TIMESTAMPDIFF(MONTH, IFNULL(last_time,create_time), NOW())>=3,1,0)) AS 3_month,
            SUM(IF(TIMESTAMPDIFF(MONTH, IFNULL(last_time,create_time), NOW())>=6,1,0)) AS 6_month
        FROM
        (
        SELECT
            MAX(pc.create_time) AS create_time,
            MAX(f.create_time) AS last_time
        FROM
        crm_pre_customer pc
        LEFT JOIN crm_on_follow_rel fr ON pc.module_id = fr.module_id AND pc.id = fr.rel_data_id
        LEFT JOIN crm_on_follow f ON fr.rel_module_id = f.module_id AND fr.data_id = f.id
        WHERE
        pc.create_time &gt; #{biDTO.startTime} AND pc.create_time &lt; #{biDTO.endTime}
        AND pc.del_flag = 1
        <if test="(biDTO.dataIds != null and biDTO.dataIds.size() > 0)">
            <choose>
                <when test="biDTO.dataFlag !=null and biDTO.dataFlag == @com.platform.mesh.core.enums.data.DataFlagEnum@ORG.getValue()">
                    AND pc.scope_org_id IN
                </when>
                <otherwise>
                    AND pc.create_user_id IN
                </otherwise>
            </choose>
            <foreach collection="biDTO.dataIds" item="dataId" open="(" close=")" separator=",">
                #{dataId}
            </foreach>
        </if>
        GROUP BY pc.id
        ) u
    </select>

    <select id="biContractWithTime" resultType="com.platform.mesh.app.api.modules.bi.domain.bo.ModuleBiTimeBO">
        SELECT
        module_id,
        create_time AS date_time,
        IFNULL(real_money,0) AS value
        FROM
        crm_on_contract
        WHERE
        create_time &gt; #{biDTO.startTime}
        AND create_time &lt; #{biDTO.endTime}
        AND del_flag = 1
        <if test="(biDTO.dataIds != null and biDTO.dataIds.size() > 0)">
            <choose>
                <when test="biDTO.dataFlag !=null and biDTO.dataFlag == @com.platform.mesh.core.enums.data.DataFlagEnum@ORG.getValue()">
                    AND scope_org_id IN
                </when>
                <otherwise>
                    AND create_user_id IN
                </otherwise>
            </choose>
            <foreach collection="biDTO.dataIds" item="dataId" open="(" close=")" separator=",">
                #{dataId}
            </foreach>
        </if>
    </select>

    <select id="countAchieveData" resultType="java.math.BigDecimal">
        SELECT
        SUM(real_money) real_money
        FROM
        crm_on_contract
        WHERE
        create_time &gt; #{biDTO.startTime}
        AND create_time &lt; #{biDTO.endTime}
        AND del_flag = 1
        <if test="(biDTO.dataIds != null and biDTO.dataIds.size() > 0)">
            <choose>
                <when test="biDTO.dataFlag !=null and biDTO.dataFlag == @com.platform.mesh.core.enums.data.DataFlagEnum@ORG.getValue()">
                    AND scope_org_id IN
                </when>
                <otherwise>
                    AND create_user_id IN
                </otherwise>
            </choose>
            <foreach collection="biDTO.dataIds" item="dataId" open="(" close=")" separator=",">
                #{dataId}
            </foreach>
        </if>
    </select>

    <select id="biRankEstAndAct" resultType="com.platform.mesh.app.api.modules.bi.domain.vo.BiIdSimpVO">
        SELECT
        scope_user_id AS id,
        SUM(real_money) AS value
        FROM
        crm_on_contract
        WHERE
        create_time &gt; #{biDTO.startTime}
        AND create_time &lt; #{biDTO.endTime}
        AND del_flag = 1
        <if test="(biDTO.dataIds != null and biDTO.dataIds.size() > 0)">
            <choose>
                <when test="biDTO.dataFlag !=null and biDTO.dataFlag == @com.platform.mesh.core.enums.data.DataFlagEnum@ORG.getValue()">
                    AND scope_org_id IN
                </when>
                <otherwise>
                    AND scope_user_id IN
                </otherwise>
            </choose>
            <foreach collection="biDTO.dataIds" item="dataId" open="(" close=")" separator=",">
                #{dataId}
            </foreach>
        </if>
        GROUP BY scope_user_id
        ORDER BY name DESC
        LIMIT 10
    </select>

    <select id="biDataCount" resultType="java.util.Map">
        SELECT
        /* 新增客户*/
        (SELECT
        COUNT(1)
        FROM
        crm_pre_customer
        WHERE
        create_time &gt; #{biDTO.startTime}
        AND create_time &lt; #{biDTO.endTime}
        AND del_flag = 1
        <if test="(biDTO.dataIds != null and biDTO.dataIds.size() > 0)">
            <choose>
                <when test="biDTO.dataFlag !=null and biDTO.dataFlag == @com.platform.mesh.core.enums.data.DataFlagEnum@ORG.getValue()">
                    AND scope_org_id IN
                </when>
                <otherwise>
                    AND scope_user_id IN
                </otherwise>
            </choose>
            <foreach collection="biDTO.dataIds" item="dataId" open="(" close=")" separator=",">
                #{dataId}
            </foreach>
        </if>
        ) AS newCustomer,
        /* 转成交客户*/
        (SELECT
        COUNT(DISTINCT customer_id)
        FROM
        crm_on_contract
        WHERE
        create_time &gt; #{biDTO.startTime}
        AND create_time &lt; #{biDTO.endTime}
        AND del_flag = 1
        <if test="(biDTO.dataIds != null and biDTO.dataIds.size() > 0)">
            <choose>
                <when test="biDTO.dataFlag !=null and biDTO.dataFlag == @com.platform.mesh.core.enums.data.DataFlagEnum@ORG.getValue()">
                    AND scope_org_id IN
                </when>
                <otherwise>
                    AND scope_user_id IN
                </otherwise>
            </choose>
            <foreach collection="biDTO.dataIds" item="dataId" open="(" close=")" separator=",">
                #{dataId}
            </foreach>
        </if>
        ) AS conCustomer,
        /* 放入公海客户*/
        (SELECT
        COUNT(DISTINCT id)
        FROM
        crm_pre_customer
        WHERE
        update_time &gt; #{biDTO.startTime}
        AND update_time &lt; #{biDTO.endTime}
        AND del_flag = 1
        <if test="(openModuleIds != null and openModuleIds.size() > 0)">
            AND module_id IN
            <foreach collection="openModuleIds" item="moduleId" open="(" close=")" separator=",">
                #{moduleId}
            </foreach>
        </if>
        <if test="(biDTO.dataIds != null and biDTO.dataIds.size() > 0)">
            <choose>
                <when test="biDTO.dataFlag !=null and biDTO.dataFlag == @com.platform.mesh.core.enums.data.DataFlagEnum@ORG.getValue()">
                    AND scope_org_id IN
                </when>
                <otherwise>
                    AND scope_user_id IN
                </otherwise>
            </choose>
            <foreach collection="biDTO.dataIds" item="dataId" open="(" close=")" separator=",">
                #{dataId}
            </foreach>
        </if>
        ) AS toOpenCustomer,
        /* 公海池客户*/
        (SELECT
        COUNT(DISTINCT id)
        FROM
        crm_pre_customer
        WHERE
        update_time &gt; #{biDTO.startTime}
        AND update_time &lt; #{biDTO.endTime}
        AND del_flag = 1
        <if test="(openModuleIds != null and openModuleIds.size() > 0)">
            AND module_id IN
            <foreach collection="openModuleIds" item="moduleId" open="(" close=")" separator=",">
                #{moduleId}
            </foreach>
        </if>
        ) AS openCustomer,
        /* 新增商机*/
        (SELECT
        COUNT(DISTINCT customer_id)
        FROM
        crm_on_business
        WHERE
        create_time &gt; #{biDTO.startTime}
        AND create_time &lt; #{biDTO.endTime}
        AND del_flag = 1
        <if test="(biDTO.dataIds != null and biDTO.dataIds.size() > 0)">
            <choose>
                <when test="biDTO.dataFlag !=null and biDTO.dataFlag == @com.platform.mesh.core.enums.data.DataFlagEnum@ORG.getValue()">
                    AND scope_org_id IN
                </when>
                <otherwise>
                    AND scope_user_id IN
                </otherwise>
            </choose>
            <foreach collection="biDTO.dataIds" item="dataId" open="(" close=")" separator=",">
                #{dataId}
            </foreach>
        </if>
        ) AS newBusiness,
        /* 赢单商机*/
        (SELECT
        COUNT(1)
        FROM
        crm_on_business
        WHERE
        create_time &gt; #{biDTO.startTime}
        AND create_time &lt; #{biDTO.endTime}
        AND data_type = 1
        AND del_flag = 1
        <if test="(biDTO.dataIds != null and biDTO.dataIds.size() > 0)">
            <choose>
                <when test="biDTO.dataFlag !=null and biDTO.dataFlag == @com.platform.mesh.core.enums.data.DataFlagEnum@ORG.getValue()">
                    AND scope_org_id IN
                </when>
                <otherwise>
                    AND scope_user_id IN
                </otherwise>
            </choose>
            <foreach collection="biDTO.dataIds" item="dataId" open="(" close=")" separator=",">
                #{dataId}
            </foreach>
        </if>
        ) AS winBusiness,
        /* 输单商机*/
        (SELECT
        COUNT(1)
        FROM
        crm_on_business
        WHERE
        create_time &gt; #{biDTO.startTime}
        AND create_time &lt; #{biDTO.endTime}
        AND data_type = 2
        AND del_flag = 1
        <if test="(biDTO.dataIds != null and biDTO.dataIds.size() > 0)">
            <choose>
                <when test="biDTO.dataFlag !=null and biDTO.dataFlag == @com.platform.mesh.core.enums.data.DataFlagEnum@ORG.getValue()">
                    AND scope_org_id IN
                </when>
                <otherwise>
                    AND scope_user_id IN
                </otherwise>
            </choose>
            <foreach collection="biDTO.dataIds" item="dataId" open="(" close=")" separator=",">
                #{dataId}
            </foreach>
        </if>
        ) AS losBusiness,
        /* 商机总金额*/
        (SELECT
        SUM(real_money)
        FROM
        crm_on_business
        WHERE
        create_time &gt; #{biDTO.startTime}
        AND create_time &lt; #{biDTO.endTime}
        AND data_type = 1
        AND del_flag = 1
        <if test="(biDTO.dataIds != null and biDTO.dataIds.size() > 0)">
            <choose>
                <when test="biDTO.dataFlag !=null and biDTO.dataFlag == @com.platform.mesh.core.enums.data.DataFlagEnum@ORG.getValue()">
                    AND scope_org_id IN
                </when>
                <otherwise>
                    AND scope_user_id IN
                </otherwise>
            </choose>
            <foreach collection="biDTO.dataIds" item="dataId" open="(" close=")" separator=",">
                #{dataId}
            </foreach>
        </if>
        ) AS businessMoney,
        /* 签约合同*/
        (SELECT
        COUNT(1)
        FROM
        crm_on_contract
        WHERE
        create_time &gt; #{biDTO.startTime}
        AND create_time &lt; #{biDTO.endTime}
        AND data_type = 1
        AND del_flag = 1
        <if test="(biDTO.dataIds != null and biDTO.dataIds.size() > 0)">
            <choose>
                <when test="biDTO.dataFlag !=null and biDTO.dataFlag == @com.platform.mesh.core.enums.data.DataFlagEnum@ORG.getValue()">
                    AND scope_org_id IN
                </when>
                <otherwise>
                    AND scope_user_id IN
                </otherwise>
            </choose>
            <foreach collection="biDTO.dataIds" item="dataId" open="(" close=")" separator=",">
                #{dataId}
            </foreach>
        </if>
        ) AS newContract,
        /* 即将到期*/
        (SELECT
        COUNT(1)
        FROM
        crm_on_contract
        WHERE
        end_time &gt; #{biDTO.startTime}
        AND end_time &lt; #{biDTO.endTime}
        AND del_flag = 1
        <if test="(biDTO.dataIds != null and biDTO.dataIds.size() > 0)">
            <choose>
                <when test="biDTO.dataFlag !=null and biDTO.dataFlag == @com.platform.mesh.core.enums.data.DataFlagEnum@ORG.getValue()">
                    AND scope_org_id IN
                </when>
                <otherwise>
                    AND scope_user_id IN
                </otherwise>
            </choose>
            <foreach collection="biDTO.dataIds" item="dataId" open="(" close=")" separator=",">
                #{dataId}
            </foreach>
        </if>
        ) AS dueContract,
        /* 已到期*/
        (SELECT
        COUNT(1)
        FROM
        crm_on_contract
        WHERE
        end_time > NOW()
        AND del_flag = 1
        <if test="(biDTO.dataIds != null and biDTO.dataIds.size() > 0)">
            <choose>
                <when test="biDTO.dataFlag !=null and biDTO.dataFlag == @com.platform.mesh.core.enums.data.DataFlagEnum@ORG.getValue()">
                    AND scope_org_id IN
                </when>
                <otherwise>
                    AND scope_user_id IN
                </otherwise>
            </choose>
            <foreach collection="biDTO.dataIds" item="dataId" open="(" close=")" separator=",">
                #{dataId}
            </foreach>
        </if>
        ) AS expireContract,
        /* 合同金额*/
        (SELECT
        SUM(real_money)
        FROM
        crm_on_contract
        WHERE
        create_time &gt; #{biDTO.startTime}
        AND create_time &lt; #{biDTO.endTime}
        AND del_flag = 1
        <if test="(biDTO.dataIds != null and biDTO.dataIds.size() > 0)">
            <choose>
                <when test="biDTO.dataFlag !=null and biDTO.dataFlag == @com.platform.mesh.core.enums.data.DataFlagEnum@ORG.getValue()">
                    AND scope_org_id IN
                </when>
                <otherwise>
                    AND scope_user_id IN
                </otherwise>
            </choose>
            <foreach collection="biDTO.dataIds" item="dataId" open="(" close=")" separator=",">
                #{dataId}
            </foreach>
        </if>
        ) AS contractMoney,
        /* 跟进客户*/
        (SELECT
        COUNT(DISTINCT fr.rel_data_id)
        FROM
        crm_on_follow_rel fr
        LEFT JOIN crm_pre_customer c ON fr.rel_module_id = c.module_id AND fr.rel_data_id = c.id
        WHERE
        fr.create_time &gt; #{biDTO.startTime}
        AND fr.create_time &lt; #{biDTO.endTime}
        AND del_flag = 1
        <if test="(biDTO.dataIds != null and biDTO.dataIds.size() > 0)">
            <choose>
                <when test="biDTO.dataFlag !=null and biDTO.dataFlag == @com.platform.mesh.core.enums.data.DataFlagEnum@ORG.getValue()">
                    AND c.scope_org_id IN
                </when>
                <otherwise>
                    AND c.scope_user_id IN
                </otherwise>
            </choose>
            <foreach collection="biDTO.dataIds" item="dataId" open="(" close=")" separator=",">
                #{dataId}
            </foreach>
        </if>
        ) AS followCustomer,
        /* 新增未跟进*/
        (SELECT
        COUNT(1)
        FROM
        (
            SELECT
            c.id,
            MAX(fr.create_time) last_time
            FROM
            crm_pre_customer c
            LEFT JOIN crm_on_follow_rel fr ON fr.rel_module_id = c.module_id AND fr.rel_data_id = c.id
            WHERE
            c.create_time &gt; #{biDTO.startTime}
            AND c.create_time &lt; #{biDTO.endTime}
            AND c.del_flag = 1
            <if test="(biDTO.dataIds != null and biDTO.dataIds.size() > 0)">
                <choose>
                    <when test="biDTO.dataFlag !=null and biDTO.dataFlag == @com.platform.mesh.core.enums.data.DataFlagEnum@ORG.getValue()">
                        AND c.scope_org_id IN
                    </when>
                    <otherwise>
                        AND c.scope_user_id IN
                    </otherwise>
                </choose>
                <foreach collection="biDTO.dataIds" item="dataId" open="(" close=")" separator=",">
                    #{dataId}
                </foreach>
            </if>
            GROUP BY c.id
            ) AS un
            WHERE last_time IS NULL
        ) AS unFollowCustomer,
        /* 回款*/
        (SELECT
        SUM(real_money)
        FROM
        crm_on_payment
        WHERE
        create_time &gt; #{biDTO.startTime}
        AND create_time &lt; #{biDTO.endTime}
        AND data_type = 102
        AND del_flag = 1
        <if test="(biDTO.dataIds != null and biDTO.dataIds.size() > 0)">
            <choose>
                <when test="biDTO.dataFlag !=null and biDTO.dataFlag == @com.platform.mesh.core.enums.data.DataFlagEnum@ORG.getValue()">
                    AND scope_org_id IN
                </when>
                <otherwise>
                    AND scope_user_id IN
                </otherwise>
            </choose>
            <foreach collection="biDTO.dataIds" item="dataId" open="(" close=")" separator=",">
                #{dataId}
            </foreach>
        </if>
        ) AS rePayment,
        /* 预计回款*/
        (SELECT
        SUM(real_money)
        FROM
        crm_on_payment
        WHERE
        create_time &gt; #{biDTO.startTime}
        AND create_time &lt; #{biDTO.endTime}
        AND data_type = 101
        AND del_flag = 1
        <if test="(biDTO.dataIds != null and biDTO.dataIds.size() > 0)">
            <choose>
                <when test="biDTO.dataFlag !=null and biDTO.dataFlag == @com.platform.mesh.core.enums.data.DataFlagEnum@ORG.getValue()">
                    AND scope_org_id IN
                </when>
                <otherwise>
                    AND scope_user_id IN
                </otherwise>
            </choose>
            <foreach collection="biDTO.dataIds" item="dataId" open="(" close=")" separator=",">
                #{dataId}
            </foreach>
        </if>
        ) AS planPayment
    </select>
</mapper>